section {
    margin-top: 114px;
    width: 100%;
    height: 5000px;
    background-color: #EAFCFF;
    /* background-image: url('../image/유저피드/gradient-left.png'); */
    /* background-position:left; */
    /* background-size: 577px 577px; */
    /* background-repeat: no-repeat; */
}