.section__login {
    width: 100%;
    height: 1500px;
    margin-top: 90px;
}

.section__login__side {
    position: absolute;
    background-color: #68CCD8;
    width: 20%;
    height: 1500px;
    right: 0;
}

.section__login__side__image1 {
    width: 12vmax;
    margin-top: 14vmax;
    margin-left: 3vmax;
    transition: all 0.7s ease-in-out;
    cursor:auto;
}

.section__login__side__image2 {
    position: absolute;
    width: 12vmax;
    top:30vmax;
    right: 14vmax;
    transition: all 0.7s ease-in-out;
    cursor:auto;
}

.section__login__side__image3 {
    width: 12vmax;
    margin-top: 21vmax;
    margin-left: 6vmax;
    transition: all 0.7s ease-in-out;
    cursor:auto;
}

.section__login__side__image1:hover {
    transform: translate(2vmax);
}

.section__login__side__image2:hover {
    transform: translate(2vmax);
}

.section__login__side__image3:hover {
    transform: translate(2vmax);
}

.section__login__center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__login__center--logo {
    margin-top: 8vmax;
    width: 20vmax;
    cursor:auto;
}

.section__login__center--side {
    margin-left: 13.5vmax;
    font-size: 0.7vmax;
}

.section__login__center--side1 {
    margin-left: 16vmax;
    font-size: 0.7vmax;
}

.section__login__center--id {
    margin-top: 12vmax;
    font-size: 1vmax;
    font-family: "SeoulNamsanM";
}

.section__login__center--idinput {
    margin-top: 0.5vmax;
    width: 30vmax;
    height: 2vmax;
    padding-left: 1vmax;
    font-size: 0.7vmax;
    font-family: 'SeoulNamsanM';
    border: 0.15vmax solid #04B1C6;
    border-radius: 25px;
}

.section__login__center--pw {
    margin-top: 0.8vmax;
    font-size: 1vmax;
    font-family: "SeoulNamsanM";
}

.section__login__center--loginbtn {
    background-color: #04B1C6;
    color: white;
    border-color: transparent;
    margin-top:3vmax;
    width: 30vmax;
    height: 3vmax;
    border-radius: 35px;
    font-size: 1.4vmax;
    font-weight: bold;
    font-family: 'SeoulNamsanM';
    cursor:pointer ;
    transition: all 0.7s ease-in-out;
}

.section__login__center--loginbtn:disabled {
    background-color: gray;
    border-color: transparent;
    cursor: auto;
    width: 28.5vmax;
    height: 2.6vmax;
}

.section__login__center--options {
    display: flex;
    margin-top: 1.2vmax;
    padding-right: 1.2vmax;
    font-size: 0.8vmax;
    font-family: "SeoulNamsanM";
}

.section__login__center--searchid {
    margin-right: 0.4vmax;
    cursor: pointer;
}

.section__login__center--searchpw {
    margin-right: 0.4vmax;
    margin-left: 0.4vmax;
    cursor: pointer;
}

.section__login__center--register {
    margin-left: 0.4vmax;
    cursor: pointer;
}

@font-face {
    font-family: 'SeoulNamsanM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }