.section__mypage__service--title {
    margin-top: 8vmax;
    margin-bottom: 8vmax;
    text-align: center;
    color:#68CCD8;
    font-size: 2.5vmax;
    font-weight: bold;
}

.section__mypage__service--content {
    padding-left: 4vmax;
    padding-right: 4vmax;
}

.qa {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.qatype {
    width: 50%;
    height: 70px;
    background-color: white;
    border: 2px solid #D9D9D9;
    border-radius: 5px;
    display : flex;
    align-items : center;
    padding-left: 1%;
}

.qatitle {
    margin-top: 3%;
    padding-left: 1%;
    width: 50%;
    height: 70px;
    border: 2px solid #D9D9D9;
    border-radius: 5px;
}

.qacontent {
    margin-top: 3%;
    padding : 1% 1% 1% 1%;
    width: 100%;
    height: 200px;
    resize: none;
    border: 2px solid #D9D9D9;
    border-radius: 5px;
}

.qawarningtext {
    text-align: right;
    color: rgba(0, 0, 0, 0.7);
}

.qa__wrap {
    display: flex;
    margin-top: 3%;
}

.qa__wrap--upload {
    width: 30%;
    height: 70px;
    background-color: white;
    border: 2px solid #D9D9D9;
    border-radius: 5px;
}


.qa__wrap--uploadbtn {
    margin-left: 3%;
    width: 10%;
    height: 70px;
    color: #68CCD8;
    background-color: white;
    border: 2px solid #68CCD8;
    border-radius: 5px;
    display : flex;
    justify-content : center;
    align-items : center;
}

.qasubmbit {
    margin-top: 3%;
    margin-left: 85%;
    width: 15%;
    height: 70px;
    background-color: #68CCD8;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    display : flex;
    justify-content : center;
    align-items : center;
    cursor: pointer;
}

.myqa__box {
    margin-top: 5%;
}

.myqa__box__waitbox {
    width: 100%;
    display: flex;
    align-items : center;
    padding-bottom: 1%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.myqa__box__waitbox--title {
    display: flex;
    justify-content : center;
    align-items : center;
    background-color: rgba(0, 0, 0, 0.3);
    width: 8%;
    height: 40px;
    font-weight: bold;
    color: white;
    border-radius: 15px;
}

.myqa__box__waitbox--content {
    padding-left: 1%;
    width: 86%;
}

.myqa__box__waitbox--date {
    color: rgba(0, 0, 0, 0.5);
}

.myqa__box__completebox {
    width: 100%;
    display: flex;
    align-items : center;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.myqa__box__completebox--title {
    display: flex;
    justify-content : center;
    align-items : center;
    background-color: #68CCD8; ;
    width: 8%;
    height: 40px;
    font-weight: bold;
    color: white;
    border-radius: 15px;
}

.myqa__box__completebox--content {
    padding-left: 1%;
    width: 86%;
}

.myqa__box__completebox--date {
    color: rgba(0, 0, 0, 0.5);
}

.myqa__box__qbox {
    display: flex;
    flex-direction: column;
    padding: 2% 2% 4% 2%;
    background-color: rgba(233, 233, 233, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.myqa__box__qbox--title {
    font-weight: bold;
    padding-bottom: 2%;
    font-size: 20px;
}

.myqa__box__qbox--content {
    font-size: 18px;
}

.myqa__box__abox {
    display: flex;
    flex-direction: column;
    padding: 2% 0% 4% 2%;
    background-color: rgba(233, 233, 233, 0.3);
}

.myqa__box__abox__top {
    display: flex;
}

.myqa__box__abox__top--title {
    width: 94%;
    font-size: 20px;
    font-weight: bold;
    color: #68CCD8;
    padding-bottom: 2%;
}

.myqa__box__abox__top--date {
    color: rgba(0, 0, 0, 0.5);
}

.myqa__box__abox__top--content {
    padding-bottom: 2%;
    font-size: 20px;
}

.myqa__box__abox--content {
    font-size: 18px;
}