/* 유저피드 화면 헤더 밑 부분(본문) CSS*/

/* section은 그냥 기본 틀 */
section {
    margin-top: 90px;
    width: 100%;
    height: 100%;
    background-color: #EAFCFF;
    overflow-x: hidden;
}

.section__userfeed__nav1 {
    position: fixed;
    display:flex;
    flex-direction: column;
    width: 4%;
    top: 70%;
    right: 3%;
    background-color: white;
    border-radius: 10px;
}

.section__userfeed__nav1--write {
    padding: 10%;
}

.section__userfeed__nav1--write:hover {
    transition-duration: 0.5s;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background-color: rgb(200, 200, 200);
}

.section__userfeed__nav1--top {
    padding: 10%
}

.section__userfeed__nav1--top:hover {
    transition-duration: 0.5s;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    background-color: rgb(200, 200, 200)
}

.section__userfeed__background {
    width: 100%;
    height: 35vmax;
}

.section__userfeed__backgroundtext {
    position: relative;
    font-family: 'Noto Sans KR';
    left: 10%;
    top: 30%;
    font-weight: bold;
    z-index:15;
}

.section__userfeed__backgroundtext1 {
    font-size: 1.4vmax;
}

.section__userfeed__backgroundtext2 {
    padding-top: 3%;
    font-size: 3vmax;
}

.section__userfeed__backgroundimage1 {
    position: relative;
    bottom: 40%;
    width: 50vw;
    height: 50vw;
    z-index: 10;
}

.section__userfeed__backgroundimage1 {
    position: relative;
    bottom: 40%;
    width: 40vw;
    height: 60vw;
}

.section__userfeed__backgroundimage2 {
    position: absolute;
    transition: all 0.7s ease-in-out;
    margin-top: 114px;
    top: 1.9%;
    right: 15%;
    width: 24vw;
    height: 27vw;
}

.section__userfeed__backgroundimage2:hover {
    transform: scale(1.15);
}

.section__userfeed__main {
    width: 80%;
    height: 100%;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
    background-color:rgba(217, 217, 217, 0.2);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2% 2% 0 0;
}

/* 최신 게시글 부분 */
.section__userfeed__main--head {
    font-family: 'Noto Sans KR';
    font-size: 1.5vmax;
    font-weight: bold;
    text-align: center;
    /* padding-top: 1%; */
    /* border-bottom: 3px dashed black */
}

.section__userfeed__main__article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section__userfeed__main__article--feed {
    /* 커서 옵션은 나중에 제거 */
    cursor: pointer;
    margin-top: 3%;
    width: 30%
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
